<html>
	<head>
	    <title>Fondo de prueba</title>
	</head>
	<style>
	body {
		background-image: url("///C:/Users/fernando/Documents/TT/TT2/TT2/templates/images/fondo.jpg");
		background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 80%;
	  }
	  </style>

	<body>
		<table style='position:absolute;top:220px;left:150px' width="650">
			<tr>
				<td>
					<b>[CLIENT]</b>
				</td>
				<td style='position:absolute;left:650px'>
					<b>[DATE]</b>
				</td>
			</tr>
			</table>
	<table style='position:absolute;top:365px;left:80px' width="800">
	<tr>
	    <td width="50%">
			<b>[DESCRIPTION]</b>
		</td>
		<td width="10%">
			<b>[UNIT]</b>
		</td>
		<td width="25%">
			<b>[COST]</b>
		</td>
		<td width="50%">
			<b>[TOTAL_COST]</b>
		</td>
	</tr>
	[ADD_PRODUCT]

	</table>
	<div style="position:absolute;top:1010px;left:780px" width="100px">
		<b>[TOTAL]</b>
		<!--<img src="///C:/Users/LUA1116/Documents/TT2/templates/images/fondo.jpg">-->
		<!--<img src="///C:/Users/fernando/Documents/TT/TT2/TT2/templates/images/fondo.jpg">-->
	</div>

	</body>
	</html>